# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
data/
checkpoints/
generated_images/
gpu_config.json
*.log
*output.txt
error*.log
trace.txt
get_trace.py
